---
import BaseLayout from "@/layouts/BaseLayout.astro";
import siteConfig from "@/config.ts";
import { posts, tags, slugify } from "@/util.ts";

let years: Record<string, typeof posts> = {};
for (const post of posts) {
  let year = post.data.date.getFullYear().toString();
  if (!years.hasOwnProperty(year)) {
    years[year] = [post];
  } else {
    years[year].push(post);
  }
}
---

<BaseLayout title="Blog Index" description={siteConfig.blogDescription}>
  <div class="space-y-[1rem]">
    {
      tags.length > 0 && (
        <p>
          Check out
          <a class="link" href="/blog/tags/" set:text="the tags page" />
          if you're looking for a specific topic.
        </p>
      )
    }
    {
      Object.keys(years)
        .sort((a, b) => +b - +a)
        .map((year) => (
          <div>
            <h2 class="text-xl">{year}</h2>
            <ul class="list-disc list-outside ml-[1rem]">
              {years[year]
                .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
                .map((post) => (
                  <li>
                    <a
                      class="link"
                      href={slugify(post.data.date, post.id)}
                      set:text={post.data.title}
                    />
                  </li>
                ))}
            </ul>
          </div>
        ))
    }
  </div>
</BaseLayout>
