---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Not Found</title>
  </head>
  <body
    class="min-h-screen min-w-screen flex flex-col item-center justify-center text-center gap-8"
  >
    <div class="mt-2em text-3xl">&#128031;</div>
    <h1 class="text-3xl">404: Not Found</h1>
    <p class="max-w-[90%] mx-auto">
      Couldn't find the page you requested. If this page really should exist,
      please drop me a line and I'll do my best to fix things. Nobody likes link
      rot!
    </p>
    <a
      class="underline text-sky-500"
      href="/"
      set:text="Back to safer waters"
    />
    <div class="mb-2em text-3xl">&#128031;</div>
  </body>
</html>
