---

---

<div class="h-[1rem] w-full bg-mega-blue dark:bg-mega-blue-dark"></div>
<h1
  class:list={[
    "py-[0.5rem]",
    "pl-[0.5rem]",
    "pr-[1rem]",
    "rounded-br-xl",
    "w-fit",
    "bg-mega-blue",
    "dark:bg-mega-blue-dark",
    "font-fredoka",
    "font-bold",
    "text-3xl",
    "text-white",
    "brightness-125",
  ]}
>
  <a href="/blog/">Gabe's Blog</a>
</h1>
