---

---

<div
  class:list={[
    "prose",
    "dark:prose-invert",
    "max-w-none",
    "leading-snug",
    "prose-headings:font-bold",
    "prose-h1:text-4xl",
    "prose-a:text-blue-700",
    "dark:prose-a:text-blue-300",
    "prose-a:no-underline",
  ]}
>
  <slot />
</div>
