@import "@fontsource-variable/fredoka" layer(base);

@import "tailwindcss";

@plugin '@tailwindcss/typography';

@custom-variant light (@media (prefers-color-scheme: light));

@theme {
  --color-mega-blue: #282ed8;
  --color-mega-blue-light: #2987d9;

  --font-fredoka: Fredoka Variable, sans-serif;
  --font-sans: Arial, Helvetica, ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.link {
  @apply text-blue-300;
  @apply light:text-blue-700;
  @apply underline;
}
